 <!-- tells browser that what kind of file i am sending to it-->
<!DOCTYPE HTML> 

 <!-- All the webpages were built using using tags only. <html></html> is root tag. -->
<html>

  
  <head>
    <!-- Head is the information that is used to render the things in the body-->
  <!--Information you want to show in title bar, and can have CSS links, external js script libraies  and other meta tags-->

  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Linkiing to pre existing css style file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
  <style>
    #banner{
      height: 360px;
      width:100%;
      object-fit: cover;
      margin-bottom: 16px;
    }
  </style>


  <title>Thedal Careers</title>

  
    
    
  </head>
  
  <body>
    <!--  <body> section contains the actual content of the webpage, including text, images, links, forms,-->
  <div class= "container" >
    <h1 class="text-center">Thedal Careers</h1>
    <img class = "img-fluid" id= "banner" src="https://73b86460-fe8a-4326-82f2-5a9aad280032-00-ny67vo9qlm0g.picard.replit.dev/static/banner.jpg" >
    <h2 class="text-center mt-2 mb-4">About Thedal</h2>
    <p class ="lead">
      Welcome to Thedal, your premier job search platform in India! We're dedicated to helping talented professionals like you discover exciting career opportunities across diverse industries. With a focus on user experience and personalized recommendations, Thedal makes job hunting effortless. Explore a wide range of job listings, from entry-level positions to senior roles, and connect with top employers nationwide. Whether you're seeking full-time roles, part-time jobs, internships, or freelance opportunities, Thedal has you covered. Join us in shaping the future of your career and unlocking new possibilities in the Indian job market.</p>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <p >TO DO - later </p>
      <div class="text-center" ><!--Inline styling with in tag when we have very few style attributes -->
        <button class="text-center btn btn-primary btn-lg">Contact Us</button>
        <p class ="mt-4"> Copyrights 2024, Thedal</p>
      </div>
    </div>
  </body>
</html>