<!-- We are structuring the template. we can use this template any where and as many as the times we need -->
<div class ="border-bottom row" style="margin-bottom:16px; padding-bottom:8px" >
  
  <div class="col-10"> <!--Dividing the total number columns by 12 and assigning 10 places to 1st column -->
    <h4 style= "color:rgb(120,120,120)">{{job['title']}}</h4>

    <div>
      <b>Location</b>: {{job['location']}}
    </div>

    {% if 'salary' in job %}<!--Only we have salary key in item then display salary-->
    <div style="margin-bottom:4px">
      <b>Salary</b>: {{job['salary']}}
      
    </div>
    {% endif %}
  </div>
  
  <div class="col-2 padding-right:16px">
    <a href="mailto:venkatshan707@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%20%3A%20%3CEnter%20your%20name%3E%0D%0AMy%20LinkedIn%20Link%3A%20%3CEnter%20your%20LinkedIn%20Link%3E%0D%0AMy%20Github%20Link%3A%3CEnter%20your%20Github%20Link%3E" type="button" class="btn btn-outline-primary float-right align-middle">Apply</a> <!--Anchor tag is used to create a hyperlink. -->
  </div>
  
  
</div>